@import "../styles/variables.css";
@import "../styles/aplicacion.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
}
